body {
    width: 550px;
}

header img {
    grid-row: 1;
    border-style: groove;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;

}

header h1 {
    color: white;
    font-size: 2em;
    margin-left: 100px;

}

header {
    display: grid;
    grid-template-columns: 200px 100%;
    background-color: black;
    align-content: center;
}

main h1 {
    color:black;
    font-size: 2.5em;
}

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
}