@media only screen and (min-width: 32.5em){
    h1 {
       font-size: 2.5rem ;
    }

    h1 {
        font-size: 1.5rem ;
     }

     header, footer {
        text-align: center;
        background-color: black;
        border-radius: 10px;
    }

    header img {
        box-shadow: 0 0 30px grey;
        float: right;
        border-radius: 0 10px 0 0;
    }
}
