/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
#hamburger-btn {display: none;}
#primary-nav {display: grid;}


/*----------- MAIN --------------*/
.grid-boxes {
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr 1fr 1fr;
}

.current-weather {grid-row: 2; grid-column: 1;}
.event {grid-row: 1; grid-column: 1;}
.hero {
    grid-row: 1 / span 2;
    grid-column: 2;

}

.hero img {
    width: 100%;
    object-fit: cover;
}

.news-release {grid-row: 3; grid-column: 2 / span 2;}
.join {grid-row: 3; grid-column: 1;}
.spotlight{
    grid-row: 1 / span 2; grid-column: 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1.25rem;
    justify-items: center;
    align-items: center;
}

.spotlight-2{grid-row: 2;}


/*----------- FOOTER --------------*/
    
} /* end of media query */