/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {
    
    /*----------- HEADER --------------*/
    
    
    
    /*----------- NAVIGATION --------------*/

    
    
    /*----------- MAIN --------------*/
    .grid-boxes {
        grid-template-columns: 1fr 1fr;
    }

    .hero {grid-row: 1; grid-column: span 2;}
    .news-release {grid-row: 2; grid-column: span 2;}
    .spotlight {grid-row: 3; grid-column: span 2; display: flex;}
    .join {grid-row: 4; grid-column: span 2;}


    
    /*----------- FOOTER --------------*/
    footer {grid-template-columns: 1fr 1fr;}

    .name-address {grid-column: 1; display: grid;column-gap: 1.25rem;}
    .name-address p {grid-column: 2; grid-row: 2; text-align: left;}
    .name-address h2 {grid-column: 2; grid-row: 1;text-align: left;}   
    .contact {grid-column: 2; text-align: right;}
      
    footer p {grid-column: span 2;}

    .contact {
        font-size: 1.1rem;
    }
} /* end of media query */