/* 45em is also 720px (if basefont is 16px) */
@media only screen and (min-width: 45rem) {
    
    /*----------- HEADER --------------*/
    /* BANNER */
    /* BANNER */
    .banner-container .join .higher-display {display: inline-block;}
    
    
    /*----------- NAVIGATION --------------*/

    
    
    /*----------- MAIN --------------*/
    .grid-boxes {
        grid-template-columns: 1fr 1fr;
    }

    .hero {grid-row: 1; grid-column: span 2;}
    .news-release {grid-row: 2; grid-column: span 2;}
    .spotlight {grid-row: 3; grid-column: span 2; display: flex;}
    .join {grid-row: 4; grid-column: span 2;}


    
    /*----------- FOOTER --------------*/
    .name-address {
        grid-template-columns: 100px 1fr 1fr;
        justify-items: right;
        align-items:unset;
    }

    .name-address .logo {
        width: 100px;    
    }

    .name-address div h2, .name-address div p {
        text-align: left;
    }


    .contact {
        font-size: 1.1rem;
        text-align: right;
    }

} /* end of media query */