/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/* ---------- HEADER -----------*/
.grid-header {
    color: #333;
    background-color: rgba(0,0,0,0.5);
    display: grid;
    gap: .5rem;
    margin: 1rem;
    padding:0.5rem;
    grid-template-columns: 80px auto auto auto;
    align-items: center;
    justify-content: center;
}

.grid-header .logo {
    width: 80px;
    margin: 0 auto;
}

.grid-header .company h1 {
    padding: 0;
    margin: 0;
    font-size: 19px;
}

.grid-header .company h2 {
    margin-top: 1rem;
    font-size: 16px;
}

.grid-header .company {
    color: whitesmoke;
}


.grid-header .social img {
    width: 3rem;
    padding-right: .2rem;
   
}

.grid-header .social {
    display: flex;
    text-align: center;
    grid-row: 2;
}

.grid-header .navigation {
    text-align: center;
    grid-row: 2;
    grid-column: 4;
}

.grid-header .todaysdate {
    grid-column: span 4;
    text-align: center;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.2);
    color: whitesmoke;
    padding: .8rem 2vw;
}

/* ----------- NAVIGATION ----------*/
.grid-header .navigation button {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid whitesmoke;
    font-size: 2rem;
    color: whitesmoke;
}

.grid-header .navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.grid-header .navigation ul li {
    text-align: center;
}

.grid-header .navigation ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
}

.grid-header .navigation ul li.active a {
    background-color: rgb(0,0,0,0.2);
    color: #fff;
}

.grid-header .navigation ul li:hover {
    background-color: rgba(0,0,0,0.3);
}

.grid-header .navigation ul {
    display: none;
}

.grid-header .navigation ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

